@font-face {
    font-family: Montserrat;
    src: url("montserrat/Montserrat-Regular.otf") format("opentype");
}

@font-face {
    font-family: Montserrat-Bold;
    font-weight: bold;
    src: url("montserrat/Montserrat-Bold.otf") format("opentype");
}
@font-face {
    font-family: Montserrat-Light;
    font-weight: lighter;
    src: url("montserrat/Montserrat-Light.otf") format("opentype");
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

input {
	font-family: Montserrat-Light;
}

body {
 padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
 padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'Montserrat-Light', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.txt {
	color:white;
	text-shadow:none;
    font-size: 16pt;
    text-align: center;
}

/* Portrait layout (default) */
.app {
    height:100vh; 
    width:100%;
	overflow-y:hidden;
}

.backicon {
    position: absolute;
    top:10px;
	left:10px;
	width:50px;
	height:35px;
	background-image:url('../res/icons/backicon.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.burgericon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 24px;
    background-image: url('../res/icons/hamburgericon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: black; */
    z-index: 1000;
    filter: invert(50%);
    -webkit-filter: invert(50%);
}

/*
*
*	STARTPAGE
*
*/
#start_weathercontainer {
	height:60vh;
	width:100vw;
	background-image: url('../res/weather/loading.gif');
	background-size: contain;
	position:relative;
    background-position: center;
    background-repeat: no-repeat;
	 background-color: white;
}

#temperature {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
	font-size: 24pt;
	background-color: rgba(255,255,255,0.5);
}

#start_buttonscontainer {
	height:40vh;
	width:100vw;
	background-color:#F5F3E5;
}
.mod {
	color:#C65E3E;
	font-size:20px;
	text-align:center;
    display: inline-block;
    margin: 20px auto;
    width: 100%;
}
.button {
	width:70%;
	display:block;
	margin: 2vh auto;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	/*border:5px solid #18ab29;*/
	cursor:pointer;
	color:#C65E3E;
	font-size:20px;
	padding:10px 30px;
	text-decoration:none;
	min-height: 50px;
	/*text-shadow:0px 1px 0px #2f6627;*/
}
.button:hover {
	/*background-color:#5cbf2a;*/
}
.button:active {
	position:relative;
	top:1px;
}
.btn-trans {
	border:2px solid #C65E3E;
	background-color: rgba(255,255,255,0);
}
.btn-green {
	/*border:2px solid #C65E3E;*/
	background-color:rgba(120,144,46,0.5);
}

#login_window {
	display:none;
	position:absolute;
	width:100vw;
	height:70vh;
	top:0;
	left:0;
	padding-top:30vh;
	background-color: #F5F3E5;
}

#register_window {
	display:none;
	position:absolute;
	width:100vw;
	height:95vh;
	top:0;
	left:0;
	padding-top:5vh;
	background-color: #F5F3E5;
}

.login-elements {
	margin:35px auto;
	margin-top:0px;
}

.login-label {
	font-size: 20pt !important;
    padding: 0px;
    width: 100vw;
    padding-left: 25px;
}


/*
*
*	GLOBALS
*
*/

#userpopuplist {
	display:none;
    position: absolute;
    width: 80vw;
    height: 90vh;
    top: 5vh;
    left: 10vw;
    background: white;
}

/*
*
*	MAP
*
*/

#mapcontainer {
	height:100vh;
}

.leaflet-control-attribution {
	display:none !important;
}
/*
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: unset !important;
    box-shadow: unset !important;
}
.leaflet-container a.leaflet-popup-close-button {
	color: rgba(255,255,255,0);
}
*/
#markerbg {
	width:90vw;
	height:90vh;
	background-color:rgba(127,200,82,0.7);
}

#overlay {
    position: absolute;
    top: 0vh;
    height: 100vh;
    background: #fff;
    width: 100vw;
    z-index: 1000;
    left: 0;
}

.innerConfig {
	background-color: #78902E;
	height:100%;
}

.innerConfig div:nth-child(2) {
	padding-top:50px !important;
}

.configlistitem {
	font-size: 20pt;
	text-align: center;
	padding: 20px;
	color:white;
	text-shadow:none;
}

.innerProfile {
	background-color: #C65E3E;
	height:100%;
}

.innerProfile .title-container {
	background-color: #78902E;
}

.innerProfile .title {
	color: white;
    text-shadow: none;
    font-size: 24pt;
    text-align: center;
    padding: 5px;
}

.mahouse {
    width: 60vw;
    height: 40vh;
    margin: 10px auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.house-001 {background-image: url('../res/icons/houses/001.png');}
.house-002 {background-image: url('../res/icons/houses/002.png');}
.house-003 {background-image: url('../res/icons/houses/003.png');}
.house-004 {background-image: url('../res/icons/houses/004.png');}
.house-005 {background-image: url('../res/icons/houses/005.png');}
.house-006 {background-image: url('../res/icons/houses/006.png');}
.house-007 {background-image: url('../res/icons/houses/007.png');}
.house-008 {background-image: url('../res/icons/houses/008.png');}

.underline {
	text-decoration:underline;
}

#homesettings {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	display: none;
    position: absolute;
    background-color: green;
    z-index: 1000;
}

#communechat {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	display: none;
    position: absolute !important;
    background-color: white;
    z-index: 1000;
}

/*
*
*	COMMUNE CHAT
*
*/
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.mR-10 {
    margin-right: 10px!important;
}
.ai-fs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.d-f, .layers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.layers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.h-100 {
    height: 100%!important;
}
.ps {
    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.bgc-grey-200, .bgcH-grey-200:hover {
    background-color: #f2f3f5!important;
}

.bgc-grey-200, .bgcH-grey-200:hover {
    background-color: #eee!important;
}
.pos-r {
    position: relative!important;
}
.fxg-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.w-100 {
    width: 100%!important;
}
.p-20 {
    padding: 20px!important;
}
.gapY-5>* {
    padding-top: 2.5px!important;
    padding-bottom: 2.5px!important;
}
.bgc-white, .bgcH-white:hover {
    background-color: #fff!important;
}
.bdrs-2 {
    border-radius: 2px!important;
}
.lh-3\/2 {
    line-height: 1.5!important;
}
.pX-10 {
    padding-left: 10px!important;
    padding-right: 10px!important;
}
.pY-3 {
    padding-top: 3px!important;
    padding-bottom: 3px!important;
}
.ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.fxw-nw {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.gapY-15 {
    margin-top: -7.5px!important;
    margin-bottom: -7.5px!important;
}
.peer>img {
    max-width: none;
}
.bdrs-50p {
    border-radius: 50%!important;
}
.sz-2r, .w-2r {
    width: 32px;
    width: 2rem;
}
.peer-greed, .peers-greed>.peer, .peers-greed>.peers {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.peer {
    display: block;
    height: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

/*
*
*	MAP - SETTINGS MENU
*
*/

#settings_close {
    right: 0;
    top: 0;
    width: 90%;
    height: 10%;
    text-align: right;
    padding: 5%;
	color:white;
	font-size: 24pt;
	text-shadow: none;
}

.settings_icon, .settings_text {
	color:white;
	font-size: 24pt;
	min-height:35px;
	padding:30px;
	text-align: center;
	text-shadow: none;
}

.settings_text {
	
}

/*
*
*	MAP ICONS
*
*/

.homeicon {
	background-image: url('../res/icons/home_house.png');
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 20px;
    display: block;
    background-size: contain;
    z-index: 1000;
    background-repeat: no-repeat;
}

/*
*
*	SCHOOL
*
*/

#school_container {
    width: 100vw;
    height: 100vh;
    background-color: white;
	/*background-image: url('../res/bg/school_background.png');
	background-size: contain;
	background-repeat: no-repeat;*/
}

#school_top {
    width: 92%;
    height: 96%;
    margin: 0 auto;
    border: #5a762e solid 2vw;
    overflow-y: scroll;
    background-color: #78902e;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}
#school_top_container {
    width: 96vw;
    height: 80vh;
    background-color: #aa7758;
    border-radius: 0px 0px 20px 20px;
    border: #a36f51 2vw solid;
}

.message {
    padding: 10px 10px 20px 20px;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.2));
}

.msg-default {
	margin: 10px 40px 10px 10px;
    background-color: white;
    color: #c65e3e;
}

.msg-self {
    margin: 10px 10px 10px 40px;
    background-color: #c65e3e;
    color: white;
}

.messagetext {
	display: block;
	font-size: 12pt;
    text-transform: initial;
}

.messagetime {
    text-align: right;
    display: block;
    font-style: italic;
    font-size: 7pt;
}

#school_bottom_container {
	/*position:relative;*/
}

#school_bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /*height: 35px;*/
    background-color: #77902d;
}

.ico {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
	margin: 2px 5px;
}

.ico-type {
	background-image:url('../res/icons/ico_type.png');
}

.ico-emoji {
	background-image:url('../res/icons/ico_emoji.png');
}

#typebox {
	height:0px;
    width: 90vw;
	font-size: 12pt;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
	padding:0;
	border:0;
}
.outertextarea {
    /*content: '->';*/
    font-size: 30px;
    line-height: 33px;
    width: 8vw;
    color: white;
    height: 8vw;
    position: absolute;
    background-color: #c65e3e;
    right: 3px;
    bottom: 3px;
    z-index: 1000000;
    border-radius: 22px;
    display: inline-block;
}

/*
*
*	HOME SCREEN
*
*/

#home_container {
	overflow-y: hidden;
	overflow-x: scroll;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
.home_image_container {
	display: inline-block;
}

#home_image {
    height: 100vh;
    overflow-y: hidden;
}


.backiconold {
    /* height: 50px; */
    position: absolute;
    top: 0px;
    /* width: 50px; */
    color: white;
    font-size: 26px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
	text-shadow: none;
}

#home_pc {
	display:none;
	position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 80vh;
    margin: 9vh 8vw;
    background-color: white;
    border-style: solid;
    padding: 5px;
}

.apps {
	display:inline-block;
	width: 85px;
    height: 85px;
    margin: 5px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home_pc .title {
    font-size: xx-large;
    text-align: center;
    margin: 10px 5px;
}
.fbm { background-image:url('../res/icons/apps/fb-messenger.png'); }
.snch { background-image:url('../res/icons/apps/snapchat.png'); }
.whtsp { background-image:url('../res/icons/apps/whatsapp.png'); }
.istgr { background-image:url('../res/icons/apps/instagram.png'); }
.pntrs { background-image:url('../res/icons/apps/pinterest.png'); }

.alignright {
    display: inline-block;
    position: absolute;
    right: 5%;
}

.clock-select .text-inline {
    font-size: 24pt;
    margin-left: 5%;
    color: white;
    text-shadow: none;
}
/* 

	HOME WECKER -> CLOCK
*/

.clock {
    margin: 50px auto;
    width: 50vw;
    height: 50vw;
    padding: 25px;
    /*background-color: #F7F7F7;
    border-radius: 50vw;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);*/
}
.clock .inner {
	position: relative;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    background: #78902E;
    border: 15px solid #ffffff;
    border-radius: 100%;
  /* box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15); */
}
.clock .inner .hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  background-color: #fff;
  border-radius: 6px;
}
.clock .inner .hand.hour {
  height: 14vw;
  margin-top: -6vw;
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
          transform: rotate(0deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 6vw;
          transform-origin: 0 6vw;
}
.clock .inner .hand.minute {
  height: 19vw;
  width:7px;
  margin-top: -9vw;
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
          transform: rotate(0deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 9vw;
          transform-origin: 0 9vw;
}
.clock .inner .graduations .graduation {
  display: block;
  position: absolute;
  top: 1vw;
  left: 50%;
  border-radius: 20px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  -webkit-transform: rotate(0deg) translateX(-50%);
          transform: rotate(0deg) translateX(-50%);
  -webkit-transform-origin: 0 24vw;
          transform-origin: 0 24vw;
}
.clock .inner .graduations .graduation:nth-child(3n-2) {
  width: 5px;
  height: 18px;
}
.graduation:nth-child(1) {
  -webkit-transform: rotate(1deg) translateX(-50%);
          transform: rotate(1deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(2) {
  -webkit-transform: rotate(31deg) translateX(-50%);
          transform: rotate(31deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(3) {
  -webkit-transform: rotate(61deg) translateX(-50%);
          transform: rotate(61deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(4) {
  -webkit-transform: rotate(91deg) translateX(-50%);
          transform: rotate(91deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(5) {
  -webkit-transform: rotate(121deg) translateX(-50%);
          transform: rotate(121deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(6) {
  -webkit-transform: rotate(151deg) translateX(-50%);
          transform: rotate(151deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(7) {
  -webkit-transform: rotate(181deg) translateX(-50%);
          transform: rotate(181deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(8) {
  -webkit-transform: rotate(211deg) translateX(-50%);
          transform: rotate(211deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(9) {
  -webkit-transform: rotate(241deg) translateX(-50%);
          transform: rotate(241deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(10) {
  -webkit-transform: rotate(271deg) translateX(-50%);
          transform: rotate(271deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(11) {
  -webkit-transform: rotate(301deg) translateX(-50%);
          transform: rotate(301deg) translateX(-50%);
}
.clock .inner .graduations .graduation:nth-child(12) {
  -webkit-transform: rotate(331deg) translateX(-50%);
          transform: rotate(331deg) translateX(-50%);
}


#home_wecker {
	display:none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*margin: 9vh 8vw;*/
    background-color: #C65E3E;
    /*border-style: solid;
    padding: 5px;*/
}

#home_wecker .title-container {
	background-color: #78902E;
}

#home_wecker .title {
	color: white;
    text-shadow: none;
    font-size: 24pt;
    text-align: center;
    padding: 5px;
}
/*
*
*	JUGENDHAUS SCREEN
*
*/

#jungendhaus_container {
	overflow-y: hidden;
	overflow-x: scroll;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

.jugendhaus_image_container {
	display: inline-block;
}

#jugendhaus_image {
    height: 100vh;
    overflow-y: hidden;
}

#jugendhaus_activities_container {
	display:none;
	position: absolute;
    top: 0;
    left: 0;
    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw;
    background-color: rgba(255,255,255,0.5);
}

#jugendhaus_activities {
	position: relative;
    width: 100%;
    height: 100%;
    /*background-color: white;*/
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#bubble_container {
	position: absolute;
	height:50px;
	width:75px;
	top:53px;
}

.bubble_online, .bubble_virt_online {
	display:inline-block;
	color:black;
	font-size:16pt;
}

.online-icon, .virtonline-icon {
	display: inline-block;
	width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
	margin-left: 5px;
}
.online-icon {	background-color: #4ae560; }
.virtonline-icon {	background-color: orange; }

.closer {
	position:absolute;
	height:35px;
	width:35px;
	top:10px;
	right:10px;
	background-image:url('../res/icons/closeicon.png');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	z-index:1;
}